.message-input-container {
  display: flex;
  gap: 4px;
}

.message-input {
  padding: 12px 8px;
  flex: 1;
  background: var(--color-eish);
  border-radius: var(--border-radius);
}

.send-message {
  padding: 12px 14px;
  background: var(--color-blue);
  border-radius: var(--border-radius);
  cursor: pointer;
}

@media (max-width: 480px) {
  .message-input-container {
    display: flex;
    gap: 2px;
  }

  .message-input {
    padding: 1px 1px;
    flex: 1;
    background: var(--color-eish);
    border-radius: var(--border-radius);
  }

  .send-message {
    padding: 8px 7px;
    background: var(--color-blue);
    border-radius: var(--border-radius);
    cursor: pointer;
  }
}
